# This is the domain we are using. Your domain will be different, or
# it might just be a port. You can also use the server's IP address
# and https should work with that.
tests.cisiamofiniti.com

# This enables gzip compression.
encode gzip

# This will redirect all incoming requests to the application running on
# our server at port :3000. In other words, it will forward all incoming
# requests to our Go application!
reverse_proxy localhost:3000