{{define "yield"}}
    <h1>Welcome to my site [homeview]!</h1>
    <p> This is a learning project and you can use it for fun. </p>
    <p> It is a barebone photo gallery so feel free to create an account and some galleries and upload some photos to them. </p>
    <p> That said, please keep in mind that <b> this is an experiment and I do not guarantee your data will still be here the next time you visit the site!</b></p>
    {{if .User}}
    .User
    {{end}}
{{end}}